section {
    margin: 50px;
    padding: 50px;
    position: relative;
    text-align: center;
}

#box {
    display: flex;
}

#box>div {
    height: 180px;
    aspect-ratio: 1/1;
    display: flex;
    color: black;
    font-size: 25px;

    background-image: url("../assests/animations/Man.gif");
    background-position: center;
    background-size: cover;

    position: relative;
    top: 250px;
}

#boxes>div>div {
    width: fit-content;
    height: fit-content;

}

#house {
    background-position: center;
    position: absolute;
    top: 200px;
    right: 25px;
}

#house>img {
    height: 400px;
    width: 500px;
}

#buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -400px;
}

#buttons>button {
    height: 50px;
    width: 100px;
    color: white;
    background-color: slategrey;
    font-size: 15px;
    border-radius: 10px;

    margin: 50px;
}